<ul class="text-center list-inline">
  <li>Copyright &copy; {{year}} - <a href="{{author.url}}">{{author.name}}</a></li>
  <li><a href="{{site.source}}">Source Code</a></li>
  <li><a href="{{site.data}}">Data</a></li>
</ul>
