<p class="text-center text-muted hidden-xs">
  Copyright &copy; {{year}} -
  <a href="{{author.url}}">{{author.name}}</a>
  - Powered by
  <a href="http://brunch.io/">Brunch</a>
  and
  <a href="http://chaplinjs.org">Chaplin</a>
</p>
<p class="text-center text-muted visible-xs">
  Copyright &copy; {{year}} -
  <a href="{{author.url}}">{{author.name}}</a>
  <br>
  Powered by
  <a href="http://brunch.io/">Brunch</a>
  and
  <a href="http://chaplinjs.org">Chaplin</a>
</p>
